<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Weather</title>
  </head>
  <body>
    <h1 id="Weather">The Weather in <%= city %> is <%= weatherDesc %></h1>
    <form method="POST" action="/getWeather">
      <input name="city" placeholder="Enter city name" />
      <button type="submit">Get Weather</button>
    </form>
    <script src="script.js"></script>
  </body>
</html>
